<!-- Contact -->
<section id="contact" class="my-5">
  <div class="container">
    <h1 class="text-center mb-4">Contato</h1>
    <form>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          [(ngModel)]="contactData.email"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Mensagem</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          [(ngModel)]="contactData.message"
          name="message"
        ></textarea>
      </div>
      <button class="btn btn-primary" (click)="saveData()">Enviar</button>
    </form>
  </div>
</section>
<!-- End Contact -->
