<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <nav
  class="navbar navbar-expand-lg"
  [ngStyle]="{ 'background-color': isAuthenticated ? '#cecece' : '#000000' }"
> -->
  <div class="container-fluid">
    <a class="navbar-brand" (click)="goToPage(pages.HOME)">
      <img src="./../assets/images/logo_wt.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="goToPage(pages.HOME)"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToPage(pages.ABOUT)">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToPage(pages.ADDRESS)">Endereço</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToPage(pages.CONTACT)">Contato</a>
        </li>
      </ul>
      <div [ngSwitch]="today" [ngStyle]="{ color: '#fff' }">
        <span *ngSwitchCase="0">Domingo</span>
        <span *ngSwitchCase="1">Segunda-feira</span>
        <span *ngSwitchCase="2">Terça-feira</span>
        <span *ngSwitchCase="3">Quarta-feira</span>
        <span *ngSwitchCase="4">Quinta-feira</span>
        <span *ngSwitchCase="5">Sexta-feira</span>
        <span *ngSwitchCase="6">Sábado</span>
        <span *ngSwitchDefault>Deu ruim</span>
      </div>
      <form class="d-flex">
        <!-- <button
          id="btnLogin"
          class="btn btn-outline-light"
          (click)="toggleLogin()"
        >
          Login
        </button> -->
        <button class="btn btn-outline-light" (click)="toggleLogin()">
          {{ isAuthenticated ? "Sair" : "Login" }}
        </button>
      </form>
    </div>
  </div>
</nav>
<!-- End Navbar -->

<!-- Main -->
<main id="main">
  <app-home
    *ngIf="currentPage === 'HOME'"
    [homeData]="appData.sectionFeatures"
  ></app-home>

  <app-about
    [aboutData]="appData.sectionAbout"
    *ngIf="currentPage === 'ABOUT'"
  ></app-about>

  <app-address
    [addressData]="appData.sectionAddress"
    *ngIf="currentPage === 'ADDRESS'"
  ></app-address>

  <app-contact
    [contactData]="appData.sectionContact"
    (saveDataEmitter)="handleSaveContactData($event)"
    *ngIf="currentPage === 'CONTACT'"
  ></app-contact>
</main>
<!-- End Main -->

<!-- Footer -->
<footer class="footer">
  <p>&copy;2022 Todos os direitos reservados.</p>
</footer>
